@charset "UTF-8";::selection {
 background: #006e98;
 color: #fff
}

*,*:before,*:after {
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
 font-family: Verdana,Tahoma,STHeiti,"Noto Sans CJK SC","Microsoft YaHei",SimHei,sans-serif
}

* {
 transition: all .2s ease;
 -moz-transition: all .2s ease;
 -webkit-transition: all .2s ease;
 -o-transition: all .2s ease
}

html {
 -webkit-tap-highlight-color: rgba(0,0,0,0);
 height: 70%
}

body {
 font-family: Verdana,Tahoma,STHeiti,"Noto Sans CJK SC","Microsoft YaHei",SimHei,sans-serif;
 font-size: 15px
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,main,nav,section,summary {
 display: block
}

audio,canvas,progress,video {
 display: inline-block;
 vertical-align: baseline
}

audio:not([controls]) {
 display: none;
 height: 0
}

[hidden],template,script {
 display: none
}

a {
 background-color: transparent
}

a:focus {
 outline: thin dotted
}

a:active,a:hover {
 outline: 0
}

a {
 text-decoration: none
}

img {
 -webkit-box-sizing: border-box;
 box-sizing: border-box;
 max-width: 100%;
 height: 80px;
 vertical-align: middle;
 border: 0
}

button,input,optgroup,select,textarea {
 color: inherit;
 font: inherit;
 margin: 0
}

button {
 overflow: visible
}

button,input {
 line-height: normal
}

button,select {
 text-transform: none
}

button,html input[type="button"],input[type="reset"],input[type="submit"] {
 -webkit-appearance: button;
 cursor: pointer
}

input[type="radio"],input[type="checkbox"] {
 cursor: pointer;
 padding: 0;
 -webkit-box-sizing: border-box;
 box-sizing: border-box
}

button[disabled],html input[disabled] {
 cursor: defaultsearch
}

button::-moz-focus-inner,input::-moz-focus-inner {
 border: 0;
 padding: 0
}

input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button {
 height: auto
}

input[type="search"] {
 -webkit-appearance: textfield;
 -webkit-box-sizing: content-box;
 box-sizing: content-box
}

input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {
 -webkit-appearance: none
}

textarea {
 overflow: auto;
 vertical-align: top;
 resize: vertical
}

table {
 border-collapse: collapse;
 border-spacing: 0
}

td,th {
 padding: 0
}

body,input,textarea,select,button {
 text-rendering: optimizeLegibility;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
 -moz-font-feature-settings: "liga","kern"
}

@media only screen and (max-width:640px) {
 body {
  word-wrap: normal;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto
 }}

a {
 color: #333
}

a:hover,a:focus {
 color: rgba(51,51,51,.5)
}

a::after {
 transition: all .2s ease-in-out;
 -moz-transition: all .2s ease-in-out;
 -webkit-transition: all .2s ease-in-out;
 -o-transition: all .2s ease-in-out
}

a:focus {
 outline: thin dotted;
 outline: 5px auto -webkit-focus-ring-color;
 outline-offset: -2px
}

p,hr,ul,ol,dl,blockquote,address,fieldset,figure {
 margin: 0 0 16px 0
}

*+p,*+hr,*+ul,*+ol,*+dl,*+blockquote,*+pre,*+address,*+fieldset,*+figure {
 margin-top: 16px
}

ul,ol {
 padding-left: 2em
}

ul>li>ul,ul>li>ol,ol>li>ol,ol>li>ul {
 margin: 1em 0
}

hr {
 display: block;
 padding: 0;
 border: 0;
 height: 0;
 border-top: 1px solid #eee;
 -webkit-box-sizing: content-box;
 box-sizing: content-box
}

iframe {
 display: none
}

button,input:not([type="radio"]):not([type="checkbox"]),select {
 vertical-align: middle
}

button {
 background: transparent;
 cursor: pointer;
 border: 0;
 outline: 0
}

@media only screen and (max-width:480px) {
 .searching .search>input {
  width: 90%
 }

 .searching .search>button {
  display: none
 }}

.searching .main {
 height: 65px;
 max-width: 100%;
 width: 100%;
 margin: 0;
 box-shadow: 0 0 1px #888;
 line-height: 65px
}

.searching .form {
 margin: 0;
 padding-left: 20px
}

.searching h1 {
 min-width: 105px;
 float: left;
 margin: 0
}

.searching .search {
 width: 75%;
 display: inline-block
}

.main {
 width: 90%;
 max-width: 850px;
 padding-top: 20px;
 margin-top: 0;
 margin-right: auto;
 margin-bottom: 0;
 margin-left: auto
}

.form {
 margin-top: 0;
 text-align: center;
 padding: 0 0 5px 0
}

.form>h1 {
 display: inline-block;
 margin-bottom: 20px;
 text-align: center
}

#bg {
 background: -webkit-gradient(linear,0% 0,0% 100%,from(#006e98),to(#35c3da));
 background: -webkit-linear-gradient(bottom,#006e98,#35c3da);
 background: -moz-linear-gradient(bottom,#006e98,#35c3da);
 background: -ms-linear-gradient(bottom,#006e98,#35c3da);
 background: -o-linear-gradient(bottom,#006e98,#35c3da);
 -moz-border-radius: 10px;
 -webkit-border-radius: 10px;
 -o-border-radius: 10px;
 border-radius: 10px
}

#in {
 padding: 10px;
 background-repeat: no-repeat;
 background-position: 110% -5px
}

.search {
 margin: 0 auto;
 padding: 7px;
 background-color: #fff;
 -moz-border-radius: 10px;
 -webkit-border-radius: 10px;
 -o-border-radius: 10px;
 border-radius: 10px
}

.search>* {
 display: inline-block;
 outline: 0
}

.search>input {
 width: 74%;
 max-width: 700px;
 padding: 10px;
 border: 0;
 border-color: #7b7b7b #b6b6b6 #b6b6b6 #7b7b7b;
 background: #fff;
 display: inline-block;
 vertical-align: top;
 margin-right: -5px;
 border-right-width: 0;
 border-color: #b8b8b8 transparent #ccc #b8b8b8;
 overflow: hidden;
 border-radius: 10px;
 border-top-right-radius: 0;
 border-bottom-right-radius: 0
}
.search>input:focus {
 border-color: #4791ff #4791ff #4791ff #4791ff
}

.search>button {
 width: 25%;
 color: #fff;
 background: -webkit-linear-gradient(bottom,#006e98,#35c3da);
 padding: 10px;
 border-radius: 10px;
 border-top-left-radius: 0;
 border-bottom-left-radius: 0
}

.search>button:hover {
 background: -webkit-linear-gradient(bottom,#35c3da,#006e98);
 border-color: #2e6da4
}

h9 {
 float: right;
 font-size: 10px;
 padding: 0 10px 2px 0
}

pre {
 padding: 20px;
 margin: 15px 0 10px 0;
 font-size: 13px;
 line-height: 1.42857143;
 color: #333;
 white-space: pre-wrap!important;
 word-wrap: break-word!important;
 *white-space: normal!important;
 background-color: #006e9826;
 border-radius: 10px;
 overflow: hidden
}

.footer {
 color: #808080;
 font-size: 13px
}

.modal {
 width: 300px;
 margin-left: -150px;
 padding-top: 20px;
 z-index: 1000;
 text-align: center;
 display: none;
 position: fixed;
 top: 50%;
 left: 50%;
 background: #fff;
 border-radius: 2px;
 -webkit-animation: pulse.5s ease-in-out;
 -webkit-animation-play-state: paused;
 animation: pulse.5s ease-in-out;
 animation-play-state: paused;
 box-shadow: 0 1px 6px rgba(0,0,0,.12),0 1px 6px rgba(0,0,0,.12)
}

.modal-active {
 -webkit-animation-play-state: running;
 animation-play-state: running
}

.modal>.close {
 margin-top: 10px;
 padding: 7px 0;
 display: block;
 cursor: pointer;
 border-top: 1px solid #dedede
}

@-webkit-keyframes pulse {
 0% {
  -webkit-transform: scale(0.3);
  opacity: 0
 }

 100% {
  -webkit-transform: scale(1);
  opacity: 1
 }}

@keyframes pulse {
 0% {
  transform: scale(0.3);
  opacity: 0
 }

 100% {
  transform: scale(1);
  opacity: 1
 }}

@-webkit-keyframes fadeInUp {
 0% {
  opacity: 0;
  -webkit-transform: translateY(200px)
 }

 50% {
  opacity: .3
 }

 100% {
  opacity: 1;
  -webkit-transform: translateY(0)
 }}

@keyframes fadeInUp {
 0% {
  opacity: 0;
  transform: translateY(200px)
 }

 50% {
  opacity: .3
 }

 100% {
  opacity: 1;
  transform: translateY(0)
 }}

@-webkit-keyframes shift-rightwards {
 0% {
  -webkit-transform: translateX(-100%)
 }

 40% {
  -webkit-transform: translateX(0%)
 }

 60% {
  -webkit-transform: translateX(0%)
 }

 100% {
  -webkit-transform: translateX(100%)
 }}

@keyframes shift-rightwards {
 0% {
  transform: translateX(-100%)
 }

 40% {
  transform: translateX(0%)
 }

 60% {
  transform: translateX(0%)
 }

 100% {
  transform: translateX(100%)
 }